
h1{
    background-color: aqua;
}
.main-container{
    margin: 3em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.contact-container{

}
.forms-container{

}

