<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/contact_form.css">
    <title>Document</title>
</head>
<body>
    <div class="main-container">
        <div class="contact-container">
            <h2>Contact Info</h2>
            <div class="icon-text-container">
                <div class="icon-text-pair">
                    <img class="icon-img" src="/img/phone_icon.png">
                    <p class="contact-info">Phone: 248.434.5508</p>
                </div>
                <div class="icon-text-pair">
                    <img class="icon-img" src="/img/email_icon.png">
                    
                    <p class="contact-info">Email: something@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="forms-container">
            <h2>Lets get in touch!</h2>
                <form class="btn">
                    <label for="first-name"><input placeholder="Name" id="first-name" name="first-name" type="text" required/></label>
                    <label for="email"><input placeholder="Email" id="email" name="email" type="email" required/></label>
                    <p class="message" ><textarea placeholder="Message"></textarea></p>
                    <button class="submit-btn" type="submit">Send</button>
                </form>
        </div>
    </div>
</body>
</html>