<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="main-about-container">
        <h1 class="welcome-title">Hello and Welcome!</h1>
        <p class="welcome-text">I'm Sebastian, and this is my portfolio. Here, you'll find out a little bit about me and a small collection of my school work.</p>
        <h3 class="mission-title">Mission Statement</h3>
        <p class="mission-text">My mission is to leverage my passion for software engineering and dedication to continuous learning to craft innovative and user-centric solutions. As an aspiring software developer, I am committed to creating code that not only meets technical excellence but also solves real-world problems. I strive to contribute positively to the ever-evolving tech landscape, collaborating with diverse teams to deliver software that empowers and enriches lives.</p>
    </div>
    
    <div class="quote-container">
        <h2>"Opportunity is missed by most people because it is dressed in overalls and looks like work." - Thomas Edison</h2>
    </div>
</body>
</html>