<%- include ('partials/header.ejs') %>
<%- include ('partials/navigation.ejs') %>


    <h1><%= title %></h1>
    <p>OMG THIS IS GOING TO BE THE CONTACT FORM FOR THIS PAGE!!!!</p>
    
<%- include ('partials/footer.ejs') %>