
h1{
    background-color: aqua;
}

input{
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    border: none;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

textarea{
    min-width: 100%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    outline: none;
    border: none;
    padding: 10px 15px;
    box-sizing: border-box;
}



.main-container{
    margin: 3em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Styling for contact information */

.icon-text-container{
    display: flex;
    flex-direction: column;
}

.icon-text-pair{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.icon-text-pair img {
    width: 50px;
    height: 50px;
}


/* Styling for contact information ends here */


/* Below is styling for contact input form */

.contact-container, .forms-container{
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    box-shadow: 1px 2px 3px 4px rgba(12,12,12,0.2);
    padding: 2em;
    border-radius: 10px;
}

.forms-container{
    justify-content: center;
    margin-top: 2em;
}

.submit-btn{
    padding: 8px 2em;
    max-width: 50%;
    margin: 6px auto;
}

/* Contact input form styling ends here */





