.main-about-container{
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 3em;
}

.welcome-title{
    font-size: 7em;
    margin: 0;
}

.mission-title{
    margin: 0;
    font-size: 2em;
    margin-top: 1em;
}

.mission-text{
    line-height: 1.5;
    padding: 0 8em;
    font-size: 18px;
}

.quote-container{
    text-align: center;
    padding: 3.5em;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    font-size: 1.5em;
}

.welcome-text{
    font-size: 18px;
    font-weight: bold;
}