<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/about_me.css">
    <title>Document</title>
</head>
<body>
    <h1 class="about-title">About Me</h1>
    <div class="main-container">
        <div class="picture-container">
            <img class="portrait-img" src="/img/me1.jpg">
        </div>
        <div class="information-container">
            <h3 class="intro-header">Hi! My name is Sebastian David. Im currently a second year Software Engineering student at Centennial College.</h3>
            <p class="info-header">Who am i?</p>
            <p class="info-text">Asides from school, I also work as a Patient Transporter for SHN. I've been working there for 3 years, but ever since the pandemic, I have been looking for a career change.</p>
            <p class="info-header">What are my hobbies?</p>
            <p class="info-text">On my spare time I enjoy playing video games, bouldering (for some of those that don't know, its indoor rock climbing with no ropes.), I also enjoy playing Ultimate Frisbee, and cycling!</p>
            <p class="info-header">What are your future goals?</p>
            <p class="info-text">Career wise, I would like to complete school and become a Software Developer. Asides from that, I would like to continue travelling, and learning more about other cultures.</p>
        </div>
    </div>
    
</body>
</html>