<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/contact_form.css">
    <title>Document</title>
</head>
<body>
    <div class="main-container">
        <div class="contact-container">
            <h2>Contact Info</h2>
            <p class="contact-title">Phone</p>
            <p class="contact-info">248.434.5508</p>
            <p class="contact-title">Email</p>
            <p class="contact-info">something@gmail.com</p>
        </div>
        <div class="forms-container">
            <h2>Contact Form</h2>
                <form>
                    <label for="first-name">Name<input id="first-name" name="first-name" type="text" required/></label>
                    <label for="email">Email<input id="email" name="email" type="email" required/></label>
                    <p class="message">Message<textarea></textarea></p>
                    <button type="submit">Submit</button>
                </form>
        </div>
    </div>
</body>
</html>