<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- This page will have similar styling, and structure as services page -->
    <link rel="stylesheet" href="/css/projects.css">
</head>
<body>
    <div class="main-container">
        <h1 class="title">My Projects</h1>
        <div class="card-container">
            <div class="info-container">
                <img class="lang-icon" src="/img/project1_pic.png">
                <h1>Project 1</h1>
                <p>This project was a lab assignment for my java course. It asked to create a Test class with multiple choise answers. Created a simple test, with a simple interactive UI, using JOptionPane.</p>
            </div>
            <div class="info-container">
                <img class="lang-icon" src="/img/project2_pic.png">
                <h1>Project 2</h1>
                <p>This was the very first site project I had for my first Web Development class in semester 1. I created a basic Real Estate Website using HTML and CSS. It had 4 pages, with a functional navigation bar, and functional picture scroller.</p>
                </div>
            <div class="info-container">
                <img class="lang-icon" src="/img/portraitholder.png">
                <h1>Project 3</h1>
                <p>Unfortunately I dont have any other projects I would like to highlight. Lets say its under construction... :( </p>
            </div>
        </div>
    </div>
</body>
</html>