<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/services.css">
</head>
<body>
    <div class="main-container">
        <h1 class="title">My Services</h1>
        <div class="card-container">
            <div class="info-container">
                <img class="lang-icon" src="/img/html-5.png">
                <h1>HTML5</h1>
                <p>Bunch of text will go here.</p>
            </div>
            <div class="info-container">
                <img class="lang-icon" src="/img/css-3.png">
                <h1>CSS3</h1>
                <p>Bunch of text will go here.</p>
                </div>
            <div class="info-container">
                <img class="lang-icon" src="/img/js.png">
                <h1>Javascript</h1>
                <p>Bunch of text will go here.</p>
            </div>
            <div class="info-container">
                <img class="lang-icon" src="/img/c-sharp.png">
                <h1>C#</h1>
                <p>Bunch of text will go here.</p>
            </div>
            <div class="info-container">
                <img class="lang-icon" src="/img/database.png">
                <h1>SQL</h1>
                <p>Bunch of text will go here.</p>
            </div>
            <div class="info-container">
                <img class="lang-icon" src="/img/python.png">
                <h1>Python</h1>
                <p>Bunch of text will go here.</p>
            </div>
        </div>
    </div>
</body>
</html>